<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://blog.csdn.net/iamzky" target="_blank" title="IamZKY">IamZKY</a></li>
      <li><a href="http://bakser.gitcafe.com" target="_blank" title="Bakser">Bakser</a></li>
	  <li><a href="http://timeplayer.blog.163.com/" target="_blank" title="TimeMachine">TimeMachine</a></li>
	  <li><a href="http://www.cnblogs.com/autsky-jadek" target="_blank" title="Autsky-Jadek">Autsky-Jadek</a></li>
	  <li><a href="http://handsomejian.logdown.com/" target="_blank" title="handsomeJian">handsomeJian</a></li>
	  <li><a href="http://lavender.logdown.com/" target="_blank" title="Lavender">Lavender</a></li>
	  <li><a href="http://blog.csdn.net/sddyzjh" target="_blank" title="sddyZJH">sddyZJH</a></li>
    </ul>
</div>

